[2021-02-28 16:33] 4doctorstrange opened #4 "OperationalError at /register/"
Hello maintainers, when I was trying to sign up in the Electra, I was redirected to the exception page and it says 2002, "Can't connect to local MySQL server through socket '/cloudsql/elecktra:us-central1:elecktra-instance' (111)".
![electra](https://user-images.githubusercontent.com/43610647/109426038-6572ff00-7a11-11eb-85bf-a2f56ae0f44b.JPG)

[2021-02-28 18:10] khannakshat7 commented on #4
@4doctorstrange Thanks for letting us know. We have fixed the issue. Please check again

[2021-02-28 18:10] #4 closed

[2021-03-08 16:52] padmajabhol opened #5 "Add a theme based preloader."
I want to add a preloader to the website, please assign me this issue.

[2021-03-09 05:03] tanishq-arya opened #6 "Contact Form UI"
It is good idea to have a contact form in the contact section. As a GSSOC participant I would like to work on the frontend part of the form. I have given a screen shot of idea I have in mind. I will match it with the design of the website. You can check out the SASS repository in my profile for the full page view.
![Screenshot (938)](https://user-images.githubusercontent.com/77333275/110421079-c4e

[2021-03-09 05:07] nikhilkotiya opened #7 "Feedback form error"

[2021-03-09 05:21] khannakshat7 commented on #6
Ok, @tanishq-arya You can make a contact form but you should match it with the theme of the project. I am assigning the issue. You can start contributing to it.

[2021-03-09 05:23] khannakshat7 commented on #7
@nikhilkotiya Can you please provide the description for the error so that I can assign you the issue

[2021-03-09 05:28] nikhilkotiya commented on #7
@khannakshat7  When i submitting Feedback  form then showing error csrf_token  is missing and when i check feedback.html template then  i found csfd token is missing

[2021-03-09 05:35] khannakshat7 opened #8 "Update Readme.md and add steps to run the project locally"
- Add the steps to run Django Project locally.
- This would help the contributors to set up project on the local system.
- Just add the commands to run in the terminal.
- The steps should include -
1. Installing Django in virtual environment.
2. Installing the dependencies.
3. Connecting project to MySQL database.
4. Migrating the project DB.
5. Create a superuser.
6. Run the local server.

[2021-03-09 05:36] khannakshat7 commented on #7
@nikhilkotiya You can fix the bug it is easy

[2021-03-09 05:37] anurag0singh commented on #8
Can I do this ?
Please assign me under GSSOC'21

[2021-03-09 05:39] khannakshat7 commented on #8
Yeah sure you can take up the issue. If you have doubts regarding commands you can ask here
I am assigning the issue to you.

[2021-03-09 05:43] anurag0singh opened #10 "The site shows wrong current active page"
I have checked it with other pages than the home one. Initially, the page does not show the currently active page with a blue highlight but after scrolling down and going up again it always highlights the home in blue no matter on which page you actually are. I have attached a screenshot for reference.

Assign this to me under GSSOC'21.
![Screenshot (127)_LI](https://user-images.githubusercontent.

[2021-03-09 05:44] anurag0singh commented on #8
Thanks, @khannakshat7

[2021-03-09 05:47] khannakshat7 opened #11 "Improve the .gitignore file"
Add migration files and other files that are to be ignored in the .gitignore file.

[2021-03-09 05:51] anurag0singh commented on #11
Assign me under GSSOC'21

[2021-03-09 06:01] #11 closed

[2021-03-09 06:11] khannakshat7 commented on #10
Ok assigning the issue to you @anurag0singh

[2021-03-09 06:12] anurag0singh commented on #8
Which python version is this repo running on?

[2021-03-09 06:14] khannakshat7 commented on #7
@nikhilkotiya are u facing any problems?

[2021-03-09 06:15] khannakshat7 commented on #8
We are using python 3.6

[2021-03-09 06:16] nikhilkotiya commented on #7
yes i Push my code on branch nikhil and after that i create a pull from branch nikhil but i dont know what i have do next?

[2021-03-09 06:19] khannakshat7 commented on #7
Yes ur part is done. I'll review the code and merge if there are no errors

[2021-03-09 06:19] tanishq-arya commented on #6
Thankyou for assigning me the issue. I'm having trouble viewing the website on my machine, can you help me with that. I can only see the static website. I have to run main.py right ? I installed django but I'm unable to install mysqlclient and main.py won't run without it.

[2021-03-09 06:22] khannakshat7 commented on #6
Just run the command `pip install mysqlclient`
Then run the manage.py file using command `python manage.py runserver`

No need to run main.py file

[2021-03-09 06:22] tanishq-arya commented on #6
okay

[2021-03-09 06:25] nikhilkotiya commented on #7
Sry i dont know about git too much. I commit my code 3 time and pull request 2 times  so is there any eshu?

[2021-03-09 06:27] khannakshat7 commented on #7
No there is no issue with that

On Tue, 9 Mar, 2021, 11:55 am nikhilkotiya, <notifications@github.com>
wrote:

[2021-03-09 06:30] nikhilkotiya commented on #7
OK what i have do next?

[2021-03-09 06:50] tanishq-arya commented on #6
Getting the following errors
PS D:\Elektra> python manage.py runserver
Watching for file changes with StatReloader
Performing system checks...

System check identified no issues (0 silenced).
Exception in thread django-main-thread:
Traceback (most recent call last):
  File "C:\Users\Tanishq\AppData\Local\Programs\Python\Python38-32\lib\site-packages\django\db\backends\base\base.py", line 219, in e

[2021-03-09 06:52] khannakshat7 commented on #6
Check your MySQL database username and password in settings.py file

On Tue, 9 Mar, 2021, 12:20 pm Tanishq Arya, <notifications@github.com>
wrote:

[2021-03-09 06:53] khannakshat7 commented on #7
We'll review and merge the code if it has no errors.

On Tue, 9 Mar, 2021, 12:00 pm nikhilkotiya, <notifications@github.com>
wrote:

[2021-03-09 06:55] nikhilkotiya commented on #7
Ok sir

[2021-03-09 07:29] Sloth-Panda opened #14 "addition of welcome bot"
this bot basically greets someone who opens up an issue or makes a pr for the first time in the repo

download the bot  from here
https://github.com/apps/welcome

[2021-03-09 07:30] Sloth-Panda opened #15 "issue and pr templates"
this project lacks issue and pr templates so would like to add those

[2021-03-09 08:09] tanishq-arya commented on #6
I have made some changes to the contact and footer. Now I'll be working on the responsiveness of the form. I am attaching an update screenshot.
![Screenshot (941)](https://user-images.githubusercontent.com/77333275/110438787-bef7bf80-80dc-11eb-81c0-55ce198e019a.png)

Below is an design idea I was thinking when we hover over the submit button.
![Screenshot (940)](https://user-images.githubuserconte

[2021-03-09 08:16] Sloth-Panda commented on #14
@anurag0singh ofcourse I want to work on it as I opened it .

[2021-03-09 08:21] anurag0singh commented on #8
Where is the databse @khannakshat7

[2021-03-09 08:25] khannakshat7 commented on #15
Ok go ahead @Sloth-Panda

[2021-03-09 08:28] khannakshat7 commented on #6
Great work @tanishq-arya!! Go ahead and work on responsive form

[2021-03-09 08:55] tanishq-arya commented on #6
I need a clarification. I have to stage commits only to the style.css and html.css right ? The changes to settings.py were to my machine only.

[2021-03-09 08:59] khannakshat7 commented on #6
yes don't commit settings.py file

On Tue, 9 Mar, 2021, 2:26 pm Tanishq Arya, <notifications@github.com> wrote:

[2021-03-09 09:03] khannakshat7 commented on #6
just fork the project, commit the files u have changed and push it to your
FORK REPO. Then just make a pull request to this repo

On Tue, 9 Mar, 2021, 2:31 pm Tanishq Arya, <notifications@github.com> wrote:

[2021-03-09 09:06] tanishq-arya commented on #6
Okay got it.

[2021-03-09 09:40] anurag0singh opened #18 "Spelling mistakes in settings.py of Elektra"
The spelling of Elektra is written as Elecktra in settings.py

[2021-03-09 09:43] #18 closed, assigned to nobody

[2021-03-09 09:47] tanishq-arya commented on #6
Also could you please add the label GSSOC'21 to the issue.

[2021-03-09 09:53] tanishq-arya opened #19 "Revamping Buttons and Text"
The intro text is small for the desktop view and I would like to change the button to a larger size.
![Screenshot (942)_LI](https://user-images.githubusercontent.com/77333275/110452621-5a902c80-80eb-11eb-8622-f408d62fd57d.jpg)

[2021-03-09 10:03] Sloth-Panda commented on #14
@khannakshat7 can you please add gssoc'21 tag to the issue?!

[2021-03-09 10:07] Sloth-Panda opened #21 "separate contributing file"
there is one contributing section in readme but that is basically sort of code of conduct not how to contribute stuff so would like to add a completely separate file describing how to contribute to this project from cloning to making pr

[2021-03-09 10:07] Sloth-Panda commented on #15
@khannakshat7 please add gssoc'21 tag to this issue

[2021-03-09 10:17] khannakshat7 commented on #21
ok go for it @Sloth-Panda

[2021-03-09 11:00] Sakshi0401 opened #23 "revamping of footer section"
![image](https://user-images.githubusercontent.com/64726139/110460772-a5627200-80f4-11eb-97d0-e100a98d1988.png)

[2021-03-09 11:03] Sakshi0401 commented on #23
Footer section is vague as compare to other part of website. As a GSSOC'21 participant I would like to work on this section.

[2021-03-09 11:07] Sakshi0401 opened #24 "revamping the features section"
![image](https://user-images.githubusercontent.com/64726139/110461608-aa73f100-80f5-11eb-9673-a2f32c976320.png)

[2021-03-09 11:08] Sakshi0401 commented on #24
Feature section icons and texts are too small and vague. As a GSSOC'21 Participant I would like to work on this issue.

[2021-03-09 11:51] deeppatel23 commented on #19
As a GSSOC'21 Participant, I would like to work on this issue.

[2021-03-09 11:52] srisatya1197 commented on #24
I want to contribute to this issue. Please assign me this task as a part of GSSoC'21

[2021-03-09 14:03] ketakitankk commented on #23
Hi, I am willing to contribute to this issue, let me partner in with you in doing so.
Thank you!

[2021-03-09 14:12] ketakitankk opened #25 "Regarding the content of the webpage & styles"
![2021-03-09 (6)](https://user-images.githubusercontent.com/65545601/110482846-1b73d280-810f-11eb-9063-3bb04b3c4015.png)

Hi, there are various typing errors and the content of the website is not to the point, I'd like to work on this issue as a GSSOC '21 Participant. I'd also like to re-vamp the color palette & fonts of the webpage, which would lead to more traffic, I believe.

Thank You!

[2021-03-09 14:38] Swetha126 commented on #25
Hey! I am a GSSOC'21 participant.
I find many grammatical errors which i would like to rectify. Given this issue, i would make the text precise and appealing by reducing the number of lines, improving the grammar, change the font styles and colours.

![image](https://user-images.githubusercontent.com/67588774/110486595-ca65dd80-8112-11eb-9dff-13d5d25d03e0.png)

Please assign me this issue

[2021-03-09 14:48] nikhilkotiya opened #26 "Login and signup page"
A new sineup and login form so that  Superuser have all details of user.

[2021-03-09 15:27] nNikita1018 commented on #25
Hey ,I want to work with this issue.

[2021-03-09 16:39] prisha-srivastava opened #27 "Adding Dark Mode"
I would like to add the dark mode feature to the website. Please assign me this issue as part of GSSOC'21.

[2021-03-09 19:09] shairanshrawat commented on #23
I am a participant in GSSOC 2021. I want to contribute to this issue and work on the same. Please could you assign me this issue as a part of GSSOC 2021.
Thank you

[2021-03-09 19:14] khannakshat7 commented on #19
@tanishq-arya Do you want to work on the issue?

[2021-03-09 19:15] khannakshat7 commented on #23
@Sakshi0401 assigned the issue to you

[2021-03-09 19:16] khannakshat7 commented on #23
@ketakitankk and @shairanshrawat you can take up or create any otherissue

[2021-03-09 20:05] anurag0singh commented on #11
Please treat this one under GSSOC'21 if possible
@khannakshat7

[2021-03-10 03:51] tanishq-arya commented on #19
Yes I would like to work on this. Thankyou for assigning me this issue.

[2021-03-10 07:17] avishmehta68710 opened #29 "Import Error"
![image](https://user-images.githubusercontent.com/69706506/110591157-2459b800-8192-11eb-883a-d1494ab211f2.png)

[2021-03-10 07:40] khannakshat7 commented on #29
@avishmehta68710

[2021-03-10 08:00] jankivaghasiya commented on #23
I would like to work on this issue and try my best to enhance it as a GSSOC'21 participant. Please, assign me this issue.

[2021-03-10 08:13] Sakshi0401 commented on #23
Thank you @khannakshat7

[2021-03-10 08:28] neha-baisane opened #30 "Improvement in top navigation bar."
The top navigation bar seems to be unpretentious and simple . As a GSSOC'21 participant I would like to work on this issue .Please assign me this task.

![nav bar new](https://user-images.githubusercontent.com/64725427/110599186-9dfca080-81a8-11eb-938f-5a7b41961207.PNG)

[2021-03-10 08:38] neha-baisane commented on #30
Thankyou @khannakshat7

[2021-03-10 11:33] jankivaghasiya commented on #26
I, being a GSSoC'21 participant would like to create a login and signup page with the help of HTML and CSS. Can you please assign me this?

[2021-03-10 11:47] avishmehta68710 commented on #29
ya i did pip install mysqlclient

[2021-03-10 11:53] rohank2502 opened #31 "Grammatical error"
In Section The Problem
In India, there is a problem of Electricity Outage every now and then, especially in some states. So,Elektra is an ML based Web App by which will be use for real-time monitoring of theElectricity Outages in an area and display them in form of maps, Dashboard with pie charts, line graph, etc, where people will be able to report the electricity outages in their area of the cit

[2021-03-10 12:40] nikhilkotiya commented on #26
@jankivaghasiya  Hey , I would like to work along with you as I am not very familiar with the Frontend languages , I would like to purpose that you help me with front end and I will help along in backend of the project part.
@khannakshat7 Can we do this together?

[2021-03-10 12:54] tanishq-arya commented on #19
![image](https://user-images.githubusercontent.com/77333275/110632321-7e2ba380-81cd-11eb-9d5e-642f0efd5a4e.png)

I have increased the size of text and changed the buttons. But I'm not sure where to put the CSS, because when I try to change the style.css the changes are not visible.
Also another issue is that when we go in the mobile-nav on smaller screens on hover the navigation color turns red. I

[2021-03-10 12:55] prisha-srivastava commented on #27
@khannakshat7 Due to some reason, I won't be able to work on this issue anymore. Please unassign me from this issue. I hope somebody else can work on it.

[2021-03-10 12:55] thesakshipandey commented on #14
i Can do this issue effectively, Can you assign me this issue?

[2021-03-10 12:57] thesakshipandey commented on #26
Hey I can do this Login/Signup Project, I'm good w frontend too, can you assign me this issue?

[2021-03-10 13:00] thesakshipandey commented on #27
Can you assign me this issue, I'll be able to do this

[2021-03-10 13:11] Sloth-Panda opened #35 "issue with running the website"
Hey after installing all the requirements I ran python manage.py runserver(even after migrating and running) but it is showing me this issue, can you upadate your readme explaining how to run this project on the server?!
![Screenshot (171)](https://user-images.githubusercontent.com/70213384/110634410-eed3bf80-81cf-11eb-9e3a-e6a37cdb727a.png)

[2021-03-10 13:11] Sloth-Panda commented on #35
@khannakshat7

[2021-03-10 13:13] kalpanapurohit commented on #30
I would like to work on this issue under gssoc21.

[2021-03-10 13:15] tanishq-arya commented on #35
Hey I had a similar issue. I can help with this

[2021-03-10 13:19] Sloth-Panda commented on #35
yaya tell here  @tanishq-arya

[2021-03-10 13:22] tanishq-arya commented on #35
@Sloth-Panda is it working now ?

[2021-03-10 13:22] Sloth-Panda commented on #35
let me check @tanishq-arya do i need to install XAMPP?

[2021-03-10 13:23] tanishq-arya commented on #35
I don't think so just run your SQL and create a database. I guess that should work.

[2021-03-10 13:25] Sloth-Panda commented on #35
can you explain a bit more what user name and password is this and what I need to create?? @tanishq-arya

[2021-03-10 13:27] tanishq-arya commented on #35
Are you on gssoc'21 discord server ?

[2021-03-10 13:28] Sloth-Panda commented on #35
yes

[2021-03-10 13:28] tanishq-arya commented on #35
Add me there

[2021-03-10 13:29] Sloth-Panda commented on #35
id

[2021-03-10 13:32] tanishq-arya commented on #35
yes Sure

[2021-03-10 14:15] tanishq-arya commented on #35
Sorry I left in between. Here's the quickest solution.
1. Install XAMPP
2. Open XAMPP admin
3. Start SQL on XAMPP
4.  Make a new user
5. Create a database with name elektra
6. Update settings.py
7. Run python manage.py runserver
![Screenshot (944)](https://user-images.githubusercontent.com/77333275/110642512-1713ec00-81d9-11eb-83d1-4d13b3d460c6.png)

[2021-03-10 14:25] tanishq-arya commented on #29
Check this
https://github.com/khannakshat7/Elektra/issues/35#issuecomment-795470004

[2021-03-10 14:38] Sakshi0401 commented on #23
@khannakshat7 After Fork -> Clone I tried running base.html file inside by browser I am facing this issue :

![image](https://user-images.githubusercontent.com/64726139/110645751-411add80-81dc-11eb-8aae-4d59967eae82.png)

Please help me out.

[2021-03-10 14:43] #35 closed

[2021-03-10 15:18] jankivaghasiya commented on #26
@nikhilkotiya Hello, we can do this together for sure if it gets assigned.

[2021-03-10 15:37] tanishq-arya commented on #19
I have completed the styling and committed the changes.  I have one small problem I think I didn't open a new branch so now the commits have been made to the Contact-form UI issue pull request. Can you suggest me what should I do now ?

[2021-03-10 15:48] nikhilkotiya commented on #26
@thesakshipandey  I am not assign issue to anyone. I am not owner of this repo. @khannakshat7 will do this

[2021-03-10 15:55] khannakshat7 commented on #27
@thesakshipandey You can contribute to this

[2021-03-10 15:58] khannakshat7 commented on #23
@Sakshi0401 You have to install python, then Django and after that u have to run the server

[2021-03-10 16:09] thesakshipandey commented on #26
thank you, I'll do it as soon as possible!

[2021-03-10 16:09] thesakshipandey commented on #27
Thanks alot!

[2021-03-10 16:30] ketakitankk commented on #25
Hi @khannakshat7 , I have created a pull request pertaining to the above issue. Please check it out and let me know!
Thanks.

[2021-03-10 17:02] Swetha126 commented on #25
Hey @khannakshat7!
I have generated the pull request for this issue!

[2021-03-10 17:19] #8 closed

[2021-03-10 19:24] sneha-nitdgp opened #36 "Google Authentication"
Google authentication would allow the users to sign up by just a single click, instead of manually signing up and logging in. I'd love to add this feature.
@khannakshat7 Can you please assign this to me?

[2021-03-11 00:31] amrzaki2000 opened #37 "[GSSoC '21] Create back to top button"
Hello,
I'd like to create a back-to-top button as GSSoC 2021 contribution.

[2021-03-11 03:22] pranjalg13 opened #38 "The Know More(button) redirects to login page even when user is logged in."
The, know more button shouldn't redirect the user if he is already logged in. There need to be a login checked whether the user is logged in or out.

[2021-03-11 03:40] pranjalg13 commented on #31
Can i work on this??

[2021-03-11 04:10] rakup444 commented on #30
I would like to suggest changes in the responsiveness of the nav-menu.
After the nav-bar changes into a drop-down menu, the following stuffs appears.
![2021-03-11_LI (2)](https://user-images.githubusercontent.com/79015142/110733362-cab5c400-824b-11eb-827f-9a0082accdd6.jpg)
![2021-03-11 (2)_LI](https://user-images.githubusercontent.com/79015142/110733410-e7ea9280-824b-11eb-9296-b5a053e79351.jpg)

T

[2021-03-11 05:04] neha-baisane commented on #23
And how to run the server?
Please guide @khannakshat7

[2021-03-11 05:59] sagnikmitra opened #41 "Zoom on Hover and Animation for Feature and adding owl carousel as a part of gssoc 21"
Want to enahnce the look of the Features and Why us section by adding a zoom on hover feature for Features section and owl carousel for Why us section or vice-versa.

[2021-03-11 06:01] shreya9301 commented on #31
I would like to work on this issue under gssoc'21 .

[2021-03-11 06:39] CodesbyUnnati commented on #37
Sure, go for it.

[2021-03-11 06:41] CodesbyUnnati commented on #38
Go for it.

[2021-03-11 06:42] CodesbyUnnati commented on #41
Sure!! Go for it.

[2021-03-11 06:44] pranjalg13 commented on #38
I have created a PR's please look into it. #39
Thank You.

[2021-03-11 07:11] khannakshat7 commented on #23
@neha-baisane use the command `python manage.py runserver`

[2021-03-11 07:15] Vijay-Git03 commented on #5
can I also do the contribution on this same issue, i want to do this. @khannakshat7

[2021-03-11 08:58] MadHawkx commented on #27
Hi, @khannakshat7 and @thesakshipandey

If more workforce is needed in this issue, I would like to assist.

[2021-03-11 10:06] Priyanka7011 opened #42 "Social media panel"
hiii I am a GSSOC 2021 participant.
I noticed that no social media links are there on the website.
I would suggest to add the social media links in  the contact section form or as a sidebar.
I can create the social media panel. Please assign me this issue.
I would be glad to work on this.

Than You

[2021-03-11 10:50] kumarishalini6 opened #43 "improving footer"
i would like to improve footer because your footer merge with contact  footer should be different and bold
can assign me under gssoc21

[2021-03-11 11:00] kumarishalini6 opened #44 "improving feedbackpage"
**The blue line around the form is not that much attractive**:-
1: We should add border radius, margin  and padding around the form .
2:and submit button should be quite stylist, should add pop out or hove effect

i would like to work on it under gssoc21, can i??

[2021-03-11 12:23] RohithChittibommala opened #45 "button overlapping on mobile"
![image](https://user-images.githubusercontent.com/62145732/110786894-b3e69000-8292-11eb-889e-1a97627f62d6.png)

[2021-03-11 13:24] tanishq-arya commented on #45
Duplicate of #19

[2021-03-11 13:34] nikhilkotiya commented on #26
@jankivaghasiya Plz do front end part of form as soon as possible so that i can work on backend

[2021-03-11 14:03] Debashish-hub opened #46 "Adding a chatbot"
Hello! I am a GSSOC'21 participant.

I observed that there is no chatbot in the website which needs to be there as there are lots of benefits of having chatbots like-
Customer engagement will be increased
Customer service will also be increased
Its trending

There could be some person who would be replying the messages or some bot for faqs.

@khannakshat7 @CodesbyUnnati  I would like to work on th

[2021-03-11 15:03] rohank2502 commented on #31
I am working on this sorry @shreya9301

[2021-03-11 15:07] rk05-lenavo commented on #27
Hey , I am participant in GSSOC'21. Can you please assign this to me?

[2021-03-11 15:08] rk05-lenavo commented on #14
Hey , I am participant in GSSOC'21. Can you please assign this to me?

[2021-03-11 15:36] #31 closed

[2021-03-11 15:56] Priyanka7011 commented on #42
Thank You I will start working in it

[2021-03-11 16:21] CodesbyUnnati commented on #14
Sorry, the issue is closed now. You can work on other issues or create one.

[2021-03-11 16:21] CodesbyUnnati commented on #14
Sorry, the issue is closed now. You can work on other issues or create one.

[2021-03-11 18:41] neha-baisane commented on #25
@ketakitankk Can you please guide how to run the base.html page. The CSS is not getting loaded after if cloned the repo.
![Screenshot (50)](https://user-images.githubusercontent.com/64725427/110837658-849e4600-82c7-11eb-899c-8299c28b5e43.png)

[2021-03-12 06:19] thesakshipandey commented on #26
yes, I did it but how do I send frontend part?

[2021-03-12 07:37] nikhilkotiya commented on #26
@thesakshipandey contact me on Linkdin when you are avilable

[2021-03-12 07:48] amrzaki2000 opened #49 "[GSSoC '21] Dashboard.html editing header"
Hello,
While working on my issue, I found that in dashboard.html the header and footer are being re-implemented. Instead, we can extend them through base.html.

Can I do that as part of my GSSoC contribution ?

Thank you

[2021-03-12 08:36] #49 closed

[2021-03-12 08:38] amrzaki2000 opened #50 "[GSSoC '21] Dsahboard header bug"
Hello,
On dashboard page, the header button does not show on mobile.
I'd like to fix this bug as part of my GSSoC participation.
![image](https://user-images.githubusercontent.com/62449903/110914450-0ff6f600-831f-11eb-9d94-84fef0d4d187.png)

[2021-03-12 09:47] #29 closed

[2021-03-12 09:51] #21 closed

[2021-03-12 09:52] #15 closed

[2021-03-12 09:53] kumarishalini6 commented on #44
I have send PR check it please

[2021-03-12 10:05] tanishq-arya commented on #6
#17 I have solved this issue

[2021-03-12 10:24] rk05-lenavo commented on #14
Hey , I am participant in GSSOC'21. Can you please assign this to me?

[2021-03-12 10:25] rk05-lenavo commented on #37
Hey , I am participant in GSSOC'21. Can you please assign this to me?

[2021-03-12 10:26] rk05-lenavo commented on #25
Hey , I am participant in GSSOC'21. Can you please assign this to me?

[2021-03-12 10:27] rk05-lenavo commented on #26
Hey , I am participant in GSSOC'21. Can you please assign this to me?

[2021-03-12 10:29] tanishq-arya commented on #19
#17 This issue is solved in the PR mentioned

[2021-03-12 11:59] MayankBeck commented on #27
I would like to work on this issue under GSSoC 21. please assign this task to me. My discord id in GSSOC(GS)'s server is Mayank(P)#9695 .

[2021-03-12 12:29] rohank2502 opened #53 "Tech Stack Update ( LOGO add )"
I will like to add tech stack logo used in our project this will make our project attractive !! Will start to work on this issue as soon as i get assigned !!

[2021-03-12 12:29] rohank2502 opened #54 "Adding Contributor section in readme ( Automatically )"
I will like to add a feature this will update contributor list in read me automatically !! Will start to work on this issue as soon as i get assigend !!

[2021-03-12 14:22] amrzaki2000 opened #55 "[GSSoC 2021] Adding preloader"
Hello,
I would like to add a pre-loader for the website as part of my GSSoC participation.

[2021-03-12 16:08] #38 closed

[2021-03-12 16:15] #7 closed

[2021-03-12 16:53] #10 closed

[2021-03-12 17:38] khannakshat7 opened #56 "Backend for Contact us form"
## **Is your feature request related to a problem? Please describe.**
We have created the frontend for the Contact us form using HTML and CSS. Add the Backend code to handle the response after submit button.

## **Describe the solution you'd like**
2. You need to add a function in views.py to send an email to the admin.
3. Add the path/route to the url.py file.

[2021-03-12 17:45] khannakshat7 commented on #55
Duplicate #5

[2021-03-12 17:46] #55 closed

[2021-03-12 18:07] anurag0singh commented on #56
@khannakshat7  I can work on this but where is the HTML and CSS file.
Assign this to me under GSSOC'21.

[2021-03-12 19:34] sahilempire commented on #43
I want to work on this issue, **Please assign me** as a **GSSoC'21 participant**.

Thank you

[2021-03-12 20:39] Tushar1337 commented on #56
I'd like to work on this I have a great experience with Django and created multiple websites with it can you assign this to me I'm a gssoc 21 participant

[2021-03-12 21:25] Tushar1337 opened #57 "Discussion panel"
hiii I am a GSSOC 2021 participant. I noticed that there's no discussion panel where people can exchange their issues can you assign to me as a gssoc participant?

[2021-03-12 21:27] Tushar1337 opened #58 "Cursor changing when hovering over stuff"
Hi, I'm a gssoc 21 participant and I noticed that the cursor is changing when hovering over stuff on the website and I think it's not really visually appealing I can fix this. Can you assign this to me?
![Capture](https://user-images.githubusercontent.com/53913018/111000318-d61e0200-83a7-11eb-8fca-b952224a997b.JPG)

[2021-03-12 21:28] dsrao711 commented on #43
Hi @CodesbyUnnati @khannakshat7  , I want to work on this issue .
The center part of the footer can be improved by adding icons and removing the tabs .
[
<img width="890" alt="footer" src="https://user-images.githubusercontent.com/59830064/111000207-a242dc80-83a7-11eb-86a5-d7f092f083ad.png">
](url)
Please assign me as a GSSOC 21 participant .

[2021-03-12 21:42] dsrao711 opened #59 "Left Aligned Icons and Content in Tabs"
## **Bug**

The icons and the text content in the 'Feature' and 'Why us' part are left aligned .Please check the first and second image under the screenshots section

## **Possible solution**

- The icons and content at the left can be center aligned

## **Screenshots**
- Bug
<img width="894" alt="gssoc2" src="https://user-images.githubusercontent.com/59830064/111001365-a7089000-83a9-11eb-9dde-8af

[2021-03-12 21:45] #59 closed

[2021-03-12 21:53] dsrao711 opened #60 "Left aligned icons and content (GSSOC'21)"
## The content and the icons under the features and 'why us' section are left aligned

- Please check the first and second image below

## **Possible solution**

- The text and icons can be aligned to the center . Check the example image below for better understanding

## **Screenshots**

- Bug :
<img width="902" alt="gssoc1" src="https://user-images.githubusercontent.com/59830064/111002391-5b56e6

[2021-03-12 21:57] #60 closed

[2021-03-13 06:14] dsrao711 opened #61 "Content and icons aligned to the left"
## Content and the icons under the 'features' and 'why us' section is left aligned

-Please check the image 1 and 2

## **Possible solution**

- The content and the icons can be center aligned . Please check third image

## **Screenshots**

- Bug :
<img width="902" alt="gssoc1" src="https://user-images.githubusercontent.com/59830064/111021302-4e5ce580-83f1-11eb-9c3e-7fb2d71cf319.png">
<img width="

[2021-03-13 06:15] dsrao711 commented on #61
Could you please assign me this issue as a GSSOC Participant ?

[2021-03-13 06:47] shivaamm opened #62 "Hompage know more button"
## **Describe the bug**
know more button on the homepage

- - this button takes to login page and asks to login again even if we are logged in

## **Possible solution**
We can direct the page to it's next section on the same page where it's described what this project is about.

## **Screenshots**

- If applicable, add screenshots to help explain your problem.
![image](https://user-images.githubus

[2021-03-13 06:50] shivaamm commented on #62
pls assign this to me if you're fine with possible solution or if you have a better suggestion then pls discuss :)

[2021-03-13 06:54] shivaamm commented on #56
Hey!! Contact page is on all the pages including the homepage so wouldn't be good if a separate page is made for the contact ?
On homepage a chatting bot can be added which will take us to the contact form if the user problem is not solved by the bot.

[2021-03-13 07:06] khannakshat7 commented on #62
This issue is already solved #39

[2021-03-13 07:06] #62 closed

[2021-03-13 07:08] khannakshat7 commented on #56
@shivaamm Yes create a new seperate page for contact

[2021-03-13 07:09] khannakshat7 commented on #57
What to mean by a discussion panel ? Can u explain in brief @Tushar1337

[2021-03-13 07:09] anurag0singh commented on #56
@khannakshat7 sir you have assigned us all. Who is supposed to work not this?

[2021-03-13 07:12] shivaamm opened #63 "Dashboard issues"
## **dashboard location issue **

-In Dashboard only UDAIPUR, RAJASTHAN, INDIA location is visible, can't change the location.
-when we are on dashboard still home section is highlighted with blue color (kinda confusing when we are on dashboard section)

## **Possible solution**

-We can add a dropdown feature from where we cana choose cities and later another dropdown box to choose exact place)
-

[2021-03-13 07:13] shivaamm commented on #63
Pls assign it to me so that I can try to solve all these things :)

[2021-03-13 07:14] Priyanka7011 commented on #42
I have updated the contact us section and added social media icons .I don't know the handles that's why I haven't added the link . I have attached the screenshot.
![Screenshot_62](https://user-images.githubusercontent.com/54627940/111022602-b0214d80-83f9-11eb-960b-ae034ab144d1.png)
So can I submit a PR now??

[2021-03-13 07:15] shivaamm commented on #62
okay thanks

[2021-03-13 07:18] shivaamm commented on #56
Alright Thanks

[2021-03-13 07:21] #14 closed

[2021-03-13 07:22] khannakshat7 commented on #56
Anyone who raises the first PR without conflicts will be merged

[2021-03-13 07:23] #54 closed

[2021-03-13 08:26] rohank2502 commented on #53
Have a look should i add something new or change  alignment or is it ok ?
![1454](https://user-images.githubusercontent.com/76584243/111024271-db109f00-8403-11eb-9e03-655edef05a87.png)

[2021-03-13 08:34] harshshaw opened #66 "ML folder"
## Add A Ml folder

- Add a Ml folder where we can keep all flask application for ml models to work
- Also add Model.pickle files to that folder

## Solution

1. Creating folder
2. Intializing python env for flask
3. Model creation and pickle module upload
4. dataset upload
@khannakshat7 @CodesbyUnnati

[2021-03-13 08:48] SUMEKAGARWAL opened #68 "Acknowledging the user with future outrages."
Recently, there was a power cut at our location and I was about to attend my exam online. As I was unaware of this cut I messed up in the exam.
So, as a user I expect to know the future power outrages every time.
Contribution - As we have the mail of the user, we can ask for a question:  whether he wants us to send mail if there is a cut or not every time?
If yes, whenever there is a update regard

[2021-03-13 09:32] SUMEKAGARWAL commented on #68
Thank you!
As I am a newbie, I hope that I get ample of time to sort the issue.
I am sure I can do this. Can you please allow me with some time.

[2021-03-13 09:42] pranjalg13 commented on #56
@khannakshat7 I have pulled the changes, but there is no contact form? It the form remaining to be merged?

[2021-03-13 09:54] khannakshat7 commented on #56
Yes wait for some time it will be merged soon

[2021-03-13 09:58] khannakshat7 commented on #66
@harshshaw Go ahead

[2021-03-13 10:10] pranjalg13 opened #71 "Alignment of text and icon in the feature section"
## Proposal
1. Alignment of the features section doesn't look good on medium screen devices. Aligning in the centre will look good and will not leave spaces.
![before](https://user-images.githubusercontent.com/47600057/111026812-77da3900-8412-11eb-8a44-94fa49f152cb.JPG)

[2021-03-13 10:20] pranjalg13 commented on #71
assign this to me and label it as level 0 and gssoc21

[2021-03-13 10:22] harshshaw commented on #66
Ok thank you @khannakshat7

[2021-03-13 10:45] khareyash05 opened #73 "update contributing.md"
Hey! I would like to add the following in contributing.md
Add the following -

1.Difference between GIT and GITHUB
2.How to clone,fork repository
3.How to create a branch and then use git push to push to repo
4.Create a PR
5.Squash commits in a single issue into one
6, Updating the forked and local repo as the updations are made in the upstream
I would like to work on this as a part of GSSOC'21

[2021-03-13 11:29] pranjalg13 opened #74 "The User title link gets stuck if we clicked on it."
## Proposal
When the logged-in user clicks on the username along with some link(in the navbar) the hover effect remains and it doesn't go until refreshing the page. I added some styling to remove the ambiguity.

Title
- [ Gssoc21]
- [level 1]

[2021-03-13 12:41] CodesbyUnnati commented on #74
I didn't understand your issue, can u please explain it more clearly, or can u record and attach that part for better understanding.

[2021-03-13 12:48] CodesbyUnnati commented on #73
Hey, @khareyash05 I'm glad you are here to contribute to this repo, but the issue you have created is half resolved...as a person has created a welcome bot that does these things.
Also, I think there is no need to include the difference between Git and Github in the project Repo. And "how to clone" this repo part is already present in the Readme.
So, please look into other issues :)

[2021-03-13 12:48] #73 closed

[2021-03-13 12:50] CodesbyUnnati commented on #45
Duplicate Issue, Please look for other issues.

[2021-03-13 12:50] #45 closed

[2021-03-13 12:51] CodesbyUnnati commented on #43
Hey, @dsrao711  this issue is a duplicate of #23. I am assigning this issue to you, and we'll compare both issues. The one which fits the best will be merged.

[2021-03-13 12:52] CodesbyUnnati commented on #43
You can also work on this. This issue is a duplicate of #23. I am assigning this issue to you too, and we'll compare both issues. The one which fits the best will be merged.

[2021-03-13 12:53] CodesbyUnnati commented on #43
You can also work on this. This issue is a duplicate of #23. I am assigning this issue to you too, and we'll compare issues. The one which fits the best will be merged.

[2021-03-13 12:54] pranjalg13 commented on #74
The main issue was **Welcome, username** was set as a <a tag href="#"> so if a user is on let's say feedback page and accidently clicks on the username, then both the links will be active and it doesn't go until refresh the page.
![dpubt2](https://user-images.githubusercontent.com/47600057/111030604-3a34da80-8429-11eb-9813-1133622a3b0c.JPG)
As shown in the image.

[2021-03-13 12:58] pranjalg13 commented on #74
@CodesbyUnnati I have updated the PR, where I have also included the updated image. It is like this:
![updated2](https://user-images.githubusercontent.com/47600057/111030717-d1019700-8429-11eb-8cff-eec984af36b4.JPG)
This code changed is more clear. Look into it.

[2021-03-13 12:59] CodesbyUnnati commented on #74
Yes, now this looks fine. I'll assign this issue to you.

[2021-03-13 13:30] ayu222220 commented on #57
Hey I am from GSSOC 21 wnd would like to work on this. Can ou assign me.

[2021-03-13 13:35] #71 closed

[2021-03-13 13:35] #74 closed

[2021-03-13 13:38] #58 closed

[2021-03-13 15:39] SUMEKAGARWAL commented on #68
I just have a doubt @CodesbyUnnati .
Do we get to know the future outrages? i.e., as mentioned in the "ANNOUNCEMNT"-( There will be power cutoff in your area from 9:00am to 12:00pm.)

[2021-03-14 05:33] nikhilkotiya opened #78 "Youtube Video Integration"
## **Is your feature request related to a problem? Please describe.**

- A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

## **Describe the solution you'd like**

- A clear and concise description of what you want to happen.

User can watch your video in project and know how to use Elektra.

[2021-03-14 05:46] nikhilkotiya opened #79 "Linkedin authentication."
## **Is your feature request related to a problem? Please describe.**

- A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

## **Describe the solution you'd like**

- A clear and concise description of what you want to happen.
Linkedin authentication would allow the users to sign up by just a single click. Save the time of the user for login.

[2021-03-14 05:49] nikhilkotiya commented on #36
@khannakshat7  Can i contribute in this issue?

[2021-03-14 06:52] #63 closed

[2021-03-14 08:45] pranjalg13 commented on #36
@sneha-nitdgp Are you working on this?? If not, I can take this issue.

[2021-03-14 09:40] rakup444 opened #83 "Responsiveness of the navigation menu"
I would like to suggest changes in the responsiveness of the nav-menu.
After the nav-bar changes into a drop-down menu, the following stuffs appears.
![2021-03-11_LI (2)](https://user-images.githubusercontent.com/79015142/110733362-cab5c400-824b-11eb-827f-9a0082accdd6.jpg)
![2021-03-11 (2)_LI](https://user-images.githubusercontent.com/79015142/110733410-e7ea9280-824b-11eb-9296-b5a053e79351.jpg)

T

[2021-03-14 09:43] rakup444 opened #84 "Responsiveness of the navigation menu"
I would like to suggest changes in the responsiveness of the nav-menu.
After the nav-bar changes into a drop-down menu, the following stuffs appears.
![2021-03-11_LI (2)](https://user-images.githubusercontent.com/79015142/110733362-cab5c400-824b-11eb-827f-9a0082accdd6.jpg)
![2021-03-11 (2)_LI](https://user-images.githubusercontent.com/79015142/110733410-e7ea9280-824b-11eb-9296-b5a053e79351.jpg)

T

[2021-03-14 09:45] #84 closed

[2021-03-14 10:40] nikhilkotiya commented on #26
@thesakshipandey Plz send the frontend part

[2021-03-14 11:59] abhishek96k commented on #83
Hey @khannakshat7 I would like to work on this issue. Please assign this issue to me.

[2021-03-14 12:11] akshatvirmani commented on #5
I would like to work on this issue. Please assign this to me.

[2021-03-14 12:37] thesakshipandey commented on #26
Umm sure?
Can I just create a repo and you take it from there?

[2021-03-14 12:47] sneha-nitdgp commented on #36
@pranjalg13 Yes, I'm working on it

[2021-03-14 13:31] anurag0singh commented on #5
Hello @khannakshat7 can I work on this?

[2021-03-14 13:46] khannakshat7 commented on #26
#75

[2021-03-14 13:50] khannakshat7 commented on #83
@rakup444 You can try both whatever seems good then we can discuss

[2021-03-14 13:50] rakup444 commented on #83
Ok
Thank you

[2021-03-14 14:50] Vanshikaa00 opened #85 "Unequal card heights"
## **Describe the bug**

On landing page, a few cards under "features" and "why us" section are of unequal heights when viewed on "iPad Pro device"

## **Possible solution**

To make card heights equal in order to ensure a consistent ui/ux

## **Screenshots**

![image](https://user-images.githubusercontent.com/53425575/111072047-ea284780-84fe-11eb-8621-6768e709712d.png)

Can i work upon this issue

[2021-03-14 15:56] Pointdexter99 commented on #79
Do we require only linkedin authentication system integration..?? Or can we give the option for google/facebook signups as well. In that case I'd like to add an issue for the same and start working on all three.

[2021-03-14 18:35] haarsh01 commented on #61
Hello I am 'a participant of GSSoC'21
I can contribute to this issue.
Please assign me this task
Thank you!

[2021-03-14 18:35] haarsh01 commented on #43
Hello I am 'a participant of GSSoC'21
I can contribute to this issue.
Please assign me this task
Thank you!

[2021-03-15 00:18] kumarishalini6 commented on #43
@dsrao711 , I have send you PR please check it , thanks.

[2021-03-15 03:45] nikhilkotiya opened #87 "Add AJAX & Javascript."
## **Is your feature request related to a problem? Please describe.**

- A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

## **Describe the solution you'd like**

- A clear and concise description of what you want to happen.
Adding POP-up blocks using javascript & ajax in all errors.

[2021-03-15 04:39] giridhar7889 commented on #57
hey, I am a GSSOC participant , I would like to work on this discussion panel so that people can exchange information regarding their issues as mentioned above. Can you assign this task to me?

[2021-03-15 05:31] khannakshat7 commented on #57
@giridhar7889 Can u explain in brief what is a discussion panel and use of it?

[2021-03-15 05:52] giridhar7889 commented on #57
It's basically where people of the same locality discuss the power cut and things related to specific topics .
Example:- what kind of measures to be taken if any event is being arranged at the time when power cut has been scheduled? .

[2021-03-15 05:59] ayu222220 commented on #57
Discussion panel is discussion domain where all people are allowed to talk to reach to a valid choice. It is basically open for people to give out opinion which can be taken into consideration to undergo a specific change.

[2021-03-15 08:36] #78 closed

[2021-03-15 14:07] mansijain980 commented on #46
@Debashish-hub Hello I am a GSSOC participant.
 Actually I have made a chatbot by using ML libraries for a hostel website so i know about chatbot . I would like to work on it .
Please assign it to me.

[2021-03-15 15:43] #79 closed

[2021-03-15 15:52] nikhilkotiya opened #91 "Preloader"
## **Is your feature request related to a problem? Please describe.**

- A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

## **Describe the solution you'd like**

- A clear and concise description of what you want to happen.
Adding Elektra logo as a preloader.

[2021-03-15 17:18] Tushar1337 opened #92 "I think the header color and footer color can be changed..."
I really think the header, footer color should be different than the website so that it can be really distinguished...

[2021-03-15 17:22] Tushar1337 commented on #92
can you assign me this as a gssoc'21 participant..

[2021-03-15 17:35] Tushar1337 commented on #57
A discussion panel can be for telling other users about any uncalled-for power cut or maybe like electric work going on in an area because of which there will be a power cut may be just like one https://downdetector.in/ has.....
![Ca34324pture](https://user-images.githubusercontent.com/53913018/111196065-ea017800-85e2-11eb-93de-a55cfff3576a.JPG)

[2021-03-16 15:22] Abhijit25Mishra opened #94 "Gap in the main page , breaking views flow"
## **The Flow while viewing the Page**

-there are unnecessary large gaps between 2 subheadings in the main page.
-It breaks the flow of the viewer while reading. And makes the segments feel disconnected.

![image](https://user-images.githubusercontent.com/69361857/111334273-6fdffa80-8699-11eb-8f14-4345c81346ed.png)

## **Describe the solution you'd like**

- Assign this to me as a gssoc Participa

[2021-03-16 16:11] mohammedjameel24 opened #95 "Dark Mode UI"
##DARK MODE UI

[2021-03-16 16:54] inbasagar opened #96 "Login/Signup page for user"
Login and signup page to enroll themselves and to get details
1.Name
2.Address,(State and District)
3.Adhar card number or any valid document (To verify whether User is original user and to ensure the complaint is genuine)
4.Phone Number
5.Issue
6.Date of the issue
---------------------------------------------
This will make the process simple like He/she Need not to enter the details everytime wh

[2021-03-16 17:09] SUMEKAGARWAL commented on #68
@khannakshat7 @CodesbyUnnati
I need your help please.
I created a light box to acknowledge the user.
Problem faced : unable to send the email when the button is clicked.
![Screenshot (13)](https://user-images.githubusercontent.com/62878571/111350702-66aa5a00-86a8-11eb-8f24-6d4a80edba0d.png)

[2021-03-17 00:31] Kashish-2001 commented on #56
I'm on it. I am doing the Backend part. Please assign this to me under gssoc21.

[2021-03-17 07:32] CodesbyUnnati commented on #92
It is as per the theme o the website. Please find another issue.

[2021-03-17 07:32] #92 closed

[2021-03-17 10:47] siddharth-143 commented on #26
i would like to work on this issue.
would you like to assign me boss.

[2021-03-17 10:57] nikhilkotiya commented on #26
@siddharth-143  I am working in this issue.

[2021-03-17 10:58] siddharth-143 commented on #26
Ok

On Wed, Mar 17, 2021, 4:27 PM Iamnikhil ***@***.***> wrote:

[2021-03-17 11:13] Kashish-2001 commented on #56
@khannakshat7 I'm on it. I am doing the Backend part. Please assign this to me under gssoc21.

[2021-03-17 11:42] arkumari2000 commented on #96
I would like to implement the frontend of login/signup page. Do you have any designs in mind? Can you please assign it to me after adding lavels of gssoc'21 and labels to it.
Thank you

[2021-03-18 02:33] Ankita297 commented on #24
Can i work on this ?

[2021-03-18 02:48] Ankita297 commented on #24
@khannakshat7 can i work on this ?

[2021-03-18 13:28] shonali2600 opened #100 "[GSSOC'21] forgot password should be with login not with sign up."
## **Describe the bug**

Currently **forgot password** option is with sign up, It should be with login. Also, the spelling is wrong.

## **Possible solution**

I'll place it in the right place by correcting the typo.

## **Screenshots**

![elektra](https://user-images.githubusercontent.com/57946528/111633643-ba898000-881b-11eb-926e-e1eb5497d5a7.png)

[2021-03-18 13:35] shonali2600 opened #101 "[GSOOC'21] Making footer look different from the home page."
## **Is your feature request related to a problem? Please describe.**

It is difficult to differentiate Footer from other content.

## **Describe the solution you'd like**

I'll style the footer in such a way that it'll look attractive and different from other section.

[2021-03-18 15:24] khannakshat7 commented on #100
Ok Go ahead...

On Thu, 18 Mar, 2021, 6:58 pm Sonali Kushwaha, ***@***.***>
wrote:

[2021-03-19 04:53] Aditya201551 opened #103 "[Feature] [GSSOC' 21] Adding Facebook/Google login to the project"
## **Is your feature request related to a problem? Please describe.**

- It's been found that the project does not have any social login such as Facebook or Google, and sometimes it can really be frustrating as time-consuming to log in manually with the signup form.

## **Describe the solution you'd like**

- I would like to add Facebook(Can add google too if you say me) login to the app using all

[2021-03-19 05:37] khannakshat7 commented on #103
Ok go for it

On Fri, Mar 19, 2021 at 10:24 AM CrispyWrecker ***@***.***>
wrote:

[2021-03-19 06:18] Aditya201551 commented on #103
@khannakshat7 please assign me this task so I can start working on it

[2021-03-19 07:56] #85 closed

[2021-03-19 10:59] shonali2600 commented on #100
@khannakshat7 sir please add the GSSOC label and level to this issue, and as you told me to go ahead I started working on this issue but you haven't assigned this issue to me. So please assign it to me.

[2021-03-19 17:03] coding-geek21 opened #106 "[GSSoC'21] Form validation and creation of alert messages in login and signup pages"
## **Is your feature request related to a problem? Please describe.**

- A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

## **Describe the solution you'd like**

- A clear and concise description of what you want to happen.

[2021-03-19 17:04] coding-geek21 commented on #106
I'm a GSSoC'21 participant can you please assign this task to me , I would love to work on this!

[2021-03-19 17:23] mohammedjameel24 commented on #95
Pull request #99

[2021-03-19 17:44] lipsa199 opened #107 "know more button"
**when someone click the know more button then there is square size border appears that is different from the actual shape of button if you have no problem then i can make the border  as the actual size of button (like oval shape ).**
please consider me as a participant of Gssoc21.
![IMG20210319230943](https://user-images.githubusercontent.com/76063097/111821412-a1aac880-8908-11eb-88b8-11f948d555d

[2021-03-19 19:42] gritika18 opened #108 "Adding a button to get to the top of homepage"
When we reach the bottom of the homepage there is no button to go back to top of the page again. I would like to add a button for the same. I'm a GSSOC participant. Could you please assign it to me?

[2021-03-20 08:48] arpit456jain opened #109 "[GSSoC'21] Responsiveness of preloader in mobile version"
## **Describe the bug**

Preloader is not responsive in small screen like mobile  It is looking something like this...
<img width="960" alt="p5" src="https://user-images.githubusercontent.com/55352601/111864502-3d7b1980-8987-11eb-8058-fce7d40fd892.png">

## **Possible solution**

I can make it responsive , i am a gsoc participant please assign this to me I will fix it within a hour
## **Screenshot

[2021-03-20 09:13] arpit456jain opened #110 "[GSSoC'21] Responsiveness of map page"
## **Describe the bug**
Responsive ness of map page is very drastic it is looking like this
<img width="960" alt="p2" src="https://user-images.githubusercontent.com/55352601/111864995-56d19500-898a-11eb-9019-125cea01d958.png">

## **Possible solution**
After Trying to solve this issue my code is looking like this
<img width="960" alt="sol2" src="https://user-images.githubusercontent.com/55352601/1

[2021-03-20 12:19] khannakshat7 commented on #110
Ok go ahead

On Sat, Mar 20, 2021 at 2:44 PM 111arpit1 ***@***.***> wrote:

[2021-03-20 12:20] khannakshat7 commented on #109
Ok go for it

On Sat, Mar 20, 2021 at 2:19 PM 111arpit1 ***@***.***> wrote:

[2021-03-20 13:10] arpit456jain commented on #109
sir please add the label of gsoc'21 as I am gsoc'21 participant

[2021-03-20 13:12] arpit456jain commented on #110
sir please add the label of gsoc .

[2021-03-20 15:52] lipsa199 commented on #107
thank you for assigned
@CodesbyUnnati

[2021-03-20 16:01] lipsa199 commented on #107
@CodesbyUnnati is it necessary to install python for this issue  ?

[2021-03-20 16:05] lipsa199 commented on #107
@CodesbyUnnati sorry actually bymistakely i tap on unassigne can you help me with that ,sorry for the mistake .

[2021-03-21 02:56] hridhi commented on #107
Hey , i would like to work on this issue

[2021-03-21 08:36] shreya9301 opened #115 "Password Reset functionality"
## **Is your feature request related to a problem? Please describe.**

There is a need for a password reset functionality when the user clicks "Forgot Password" during Log in.

## **Describe the solution you'd like**

As a GSSoc'21 participant , I would like to add the above mentioned functionality by adding a password reset form in the webapp.

[2021-03-21 11:31] arpit456jain commented on #109
@khannakshat7  sir please add the Gssoc'21 label so i can work on it as soon as possible.

[2021-03-21 11:31] arpit456jain commented on #110
@khannakshat7  sir please add the Gssoc'21 label so i can work on it as soon as possible.

[2021-03-21 14:48] pranjalg13 opened #116 "Changing of Welcome, {{user}} in navbar is inconsistent on dashboard page."
## Proposal
On the dashboard page, the Welcome username is different from the rest. Also changing the style of it because it looks like a nav item.

![Capture](https://user-images.githubusercontent.com/47600057/111909257-9b405c00-8a82-11eb-9c89-1b8beeef17db.JPG)

[2021-03-21 14:54] pranjalg13 commented on #116
Assign this under GGSOC-2021 and please check the PR. @CodesbyUnnati @khannakshat7

[2021-03-21 16:26] pranjalg13 opened #118 "Adding a message after successfully sign up"
## Proposal
Currently, there is no conformation, when a user signups. Needed to add a message indicating user after successful registration.

[2021-03-21 16:27] pranjalg13 commented on #118
Please assign, this under GGSOC-2021 @CodesbyUnnati .

[2021-03-21 16:41] pranjalg13 opened #119 "Preloader is showing on all pages"
## **Describe the bug**

- The Preloader is shown on all pages, which doesn't look good and it should only be shown once session per user.
## **Possible solution**

- Showing the preloader only once per session.
## **Screenshots**

- If applicable, add screenshots to help explain your problem.

[2021-03-21 17:37] Sristi27 opened #120 "Login/Signup Form"
I would like to work on the login/signup functionality.
Kindly assign this issue to me.

[2021-03-22 15:33] Darsh2987 commented on #83
Hi, do you still need help with this responsive nav menu?, Looking at the site it looks like there's still some styling and adjustments to do.

My thoughts -

When you open the mobile nav menu on desktop simulating mobile/small view width and THEN expand the view from mobile to a larger width the mobile nav overlay persists, this overlay should disappear as you expand the width from mobile/small v

[2021-03-22 15:36] Darsh2987 commented on #108
Hi , can I work on this for you please?

[2021-03-22 16:22] CodesbyUnnati commented on #108
There is already the same issue #51 given to a person and he has made a PR for the same.

[2021-03-22 16:28] CodesbyUnnati commented on #120
Login/Signup form is already made. What changes you want to work on?

[2021-03-22 16:29] gritika18 commented on #108
Okay! Thankyou for the information.

[2021-03-22 16:42] arpit456jain commented on #109
Thank You @CodesbyUnnati  Mam  I had already solve this issue in morning on my local machine i am just waiting for it to be assign to me I will PR within 2 min Kindly Review it . I will attach a video how it is looking.

[2021-03-23 04:32] lipsa199 commented on #107
@CodesbyUnnati thank you so much .
mam I already pulled the request  #114 , is this request consider to be review or I have to do PR again ?

[2021-03-23 07:51] simranbhalla3 commented on #108
Hi i am a gssoc participant , can i work on this issue?

[2021-03-23 07:52] simranbhalla3 commented on #109
Hi i am a gssoc participant , can i work on this issue?

[2021-03-23 08:06] arpit456jain commented on #109
@simranbhalla3 I am sorry but this issue is already assigned to me and i had already solved it my PR is under reviewing process till Friday after that it will merge.
@CodesbyUnnati mam told me that someone PR is ready for merging after that my PR will be merged

[2021-03-23 16:30] pranjalg13 commented on #119
Hey, @CodesbyUnnati Wanted to ask, is the preloader on every page looking good? Just asking for your opinion. Like I think only the starting time should appear??

[2021-03-24 06:41] SUMEKAGARWAL commented on #68
@CodesbyUnnati @khannakshat7 Done!

[2021-03-26 12:52] arpit456jain commented on #110
@CodesbyUnnati may I create a PR?

[2021-03-27 03:20] Ankita297 commented on #91
Can i work on this ?

[2021-03-27 04:46] nikhilkotiya commented on #91
@Ankita297 i have already done this issue

[2021-03-27 04:46] #91 closed

[2021-03-27 06:27] #103 closed

[2021-03-27 07:30] #56 closed

[2021-03-27 07:40] khannakshat7 opened #124 "Add recaptcha to all forms"
We want to add recaptcha to all the forms in the web app like the signup form and Contact Us form.

You can refer to the documentation from [https://www.google.com/recaptcha/about/](url)

[2021-03-27 10:13] Mayank4git commented on #124
i want to work on this issue. Please assign this issue to me . as a beginner I am very keen to contribute

[2021-03-27 11:04] arpit456jain commented on #110
@khannakshat7  may i create a new PR.

[2021-03-27 16:02] ayushjha952 commented on #124
Can you please assign it to me I want to work on it as GSSOC participant.

[2021-03-27 18:01] khannakshat7 commented on #110
@arpit456jain Yeah sure

[2021-03-27 18:10] #83 closed

[2021-03-27 18:11] arpit456jain commented on #110
ok @khannakshat7 sir  I will create a PR as soon as possible.

[2021-03-27 18:27] #109 closed

[2021-03-27 18:32] arpit456jain commented on #110
@khannakshat7 please review my PR #125 .

[2021-03-27 23:57] nikhilkotiya commented on #124
@Can you please assign it to me I want to work on it.

[2021-03-28 19:12] #110 closed

[2021-03-29 09:33] arpit456jain commented on #115
@CodesbyUnnati I am a Gssoc'21 participant and I want to try to do this if possible.

[2021-03-29 09:41] arpit456jain opened #126 "[Gssoc'21] Password validation in front-end by JavaScript."
## **Is your feature request related to a problem? Please describe.**

Its very frustrating to get  error message  for password after signing up "and after waiting for 3-4 sec for ending pre-loader "

## **Describe the solution you'd like**

There should be a password validation which work on input in front-end by js
and sign up button should be disabled until the validations passed.
It will look

[2021-03-29 09:42] mgncodes opened #127 "Typo in Login Page"
## **Describe the bug**
- Hi, I'm a GSSoC Participant. As I tried the demo website, I came through a very small mistake, which I wanted to correct.
- In the login/signup page, there is a typo error. The forgot password is misspelt as "forget" password, which changes the whole meaning.

## **Possible solution**
- I want to correct the typo.

## **Screenshots**
![image](https://user-images.githubuse

[2021-03-29 09:47] arpit456jain commented on #108
@CodesbyUnnati please close it if its already assign to someone in another issue.
It makes confusion.

[2021-03-29 11:01] RubenFalcao14 opened #128 "There is no full stop at various sentences."
I would like to fix the issue by add the full stop at various places.

I'm a GSSOC'21 participant and I would love to fix it.

[2021-03-29 13:17] bhubesh757 opened #129 "Add Bot"
## **Is your feature request related to a problem? Please describe.**

- A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

## **Describe the solution you'd like**
It helps them to know more about  elektra and also helps to answer their questions

- A clear and concise description of what you want to happen.

[2021-03-29 14:54] shonali2600 commented on #100
@khannakshat7  sir, I've made the required changes, kindly review the code.

[2021-03-29 14:55] shonali2600 commented on #101
@CodesbyUnnati ma'am, I've made the required changes, Kindly review my code.

[2021-03-29 15:04] arpit456jain commented on #126
Thanks @khannakshat7 I will start create PR as soon as possible.

[2021-03-29 15:51] arpit456jain commented on #126
@khannakshat7 may I create a PR

[2021-03-29 16:02] arpit456jain commented on #126
@khannakshat7 there is a spelling error It should be **forgot** instead "forget" password .
should I correct it or leave it as it is.
There is also a issue open for this. #127

[2021-03-29 19:02] arpit456jain commented on #127
@CodesbyUnnati during working of issue #126 I had already changed forget to forgot.
Should i change it back to forget??

[2021-03-29 20:56] rijusougata13 commented on #124
@khannakshat7  can you assign me on this?

[2021-03-30 04:40] arpit456jain commented on #126
@khannakshat7 please review my PR #135

[2021-03-30 09:19] CodesbyUnnati commented on #128
This is not a valid issue. Please search for valid issues and work on them.

[2021-03-30 09:19] #128 closed

[2021-03-30 11:19] RubenFalcao14 commented on #128
Sorry 😓

[2021-03-30 13:43] ayushjha952 commented on #124
@khannakshat7 I have added recaptcha for contact form do I need to add recaptcha for login/signup form.

[2021-03-30 16:16] Ankita297 commented on #50
Can i work on this @CodesbyUnnati ?

[2021-03-30 16:18] Ankita297 commented on #24
Can i work on this @khannakshat7  @CodesbyUnnati ?

[2021-03-30 17:42] khannakshat7 commented on #50
@Ankita297 Ok u can contribute to this

[2021-03-30 17:44] khannakshat7 commented on #124
@ayushjha952 Yes add recaptcha for signup form

[2021-03-30 18:16] #126 closed

[2021-04-01 19:04] Ratnesh4193 opened #138 "Preloader"
## Proposal

Want to add a preloader to the home page

I am a GSooC participant. Pls, assign this issue to me.

[2021-04-01 19:08] rupal121 opened #139 "Want to add dark mode"
## Proposal

(A clear and concise description of what the proposal is.)
Want to add a dark mode toggle button with a smooth transition

THIS IMAGE IS ONLY FOR REFERENCE PURPOSE.
![](https://res.cloudinary.com/practicaldev/image/fetch/s--93ZO737c--/c_imagga_scale,f_auto,fl_progressive,h_420,q_auto,w_1000/https://dev-to-uploads.s3.amazonaws.com/i/vu98mdraw6w7er1x8sg5.png)
.

Kindly assign this issue

[2021-04-02 03:39] pallavi00021 commented on #124
can I start working on this issue?? I'm gssoc'21 participant.  @khannakshat7

[2021-04-02 03:43] pallavi00021 commented on #41
can I start working on this issue?? I'm gssoc'21 participant.  @CodesbyUnnati

[2021-04-02 03:50] Nirpendra09 opened #140 "Contact Us page"
A good contact us page will make a good impact. As for contact there is only the email option. We can implement a contact us page where people can fill the contact form and write the message there only which will work great. We can also give there the social media handles for the ease of contact.

Please assign me this task.
/assign

[2021-04-02 04:36] rijusougata13 commented on #124
i think its misleading everyone by this gsoc21 label...

[2021-04-02 04:48] CodesbyUnnati commented on #41
OK

[2021-04-02 04:49] CodesbyUnnati commented on #138
The preloader is already made, if you want to make some different type of loader then please go for it.

[2021-04-02 04:49] CodesbyUnnati commented on #139
Assigned! Go for it.

[2021-04-03 09:40] #124 closed

[2021-04-03 17:37] neha-baisane commented on #30
@khannakshat7 should I work on this issue or it is already solved?

[2021-04-03 19:01] vatsalar commented on #37
I am interested in contributing to the above issue. Kindly assign me this issue.

[2021-04-04 00:32] akshay1027 opened #142 "Links in the readme to open in a new tab"
## **Is your feature request related to a problem? Please describe.**
Links in the readme to open in a new tab so that it is easier for the user to navigate to GitHub codebase.

[2021-04-04 04:48] CodesbyUnnati commented on #37
Assigned

[2021-04-04 10:21] srisatya1197 commented on #24
@Ankita297 Hey there due to some academic exams I had to stop by .  But I will be working on this issue soon.

[2021-04-04 12:05] akshay1027 commented on #142
I found out now that we cant do this on Github! here is the link to that: mojombo/github-flavored-markdown#28
so i will close this.

[2021-04-04 12:05] #142 closed

[2021-04-04 12:17] Ankita297 commented on #24
@khannakshat7  @CodesbyUnnati  ?

[2021-04-04 13:24] vedant-jain03 commented on #138
I want to work on this issue
I already did pre loader in my previous projects.
I can work on this issue

[2021-04-04 14:02] AasthaCodex opened #143 "Hover Property"
## **Is your feature request related to a problem? Please describe.**
I want to add hover selector to know more button
- A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
I think it would enhance the website styling
## **Describe the solution you'd like**
I would add hover property to it
- A clear and concise description of what you want to happen.
when y

[2021-04-04 14:32] tanya070820 opened #144 "Sign up\Log in should be improvised"
## **Is your feature request related to a problem? Please describe.**

- Yes it is related to the problem as their are many such details which are not in sign up/log in form and I also want to add different fonts in it .

## **Describe the solution you'd like**

I would like  to add the district name ,city \town name ,Contact No nd also want to add new font in it for good presentation.
Please try

[2021-04-04 14:49] Ratnesh4193 commented on #138
@vedant-jain03 I am working on this issue

[2021-04-05 18:17] khannakshat7 commented on #144
@tanya070820 Yeah sure but can u give a better design first so that we can think over it.
You can give a simple idea of how it will look

[2021-04-05 18:26] khannakshat7 commented on #140
@Nirpendra09 Can u pl. give a idea/design about how to think to make contact us from better

[2021-04-06 06:10] Nirpendra09 commented on #140
The contact us page will contain A form consisting of inputs like name email and the message or issue . Also there will be the social media handles shown on that page.

[2021-04-06 11:15] shahbazalam07 commented on #139
I also want to work on this issue

[2021-04-06 13:27] anirudhsai20 opened #145 "Readme file enhancement"
The Readme file can be enhanced by adding a list of all the Open Source programs in which this project was listed in.

[2021-04-06 13:28] anirudhsai20 commented on #145
Hi! Please assign this issue to me under GSSOC.

[2021-04-06 18:48] sujoy-coder opened #147 "Implementation of User's Feedback Model"
#### Proposal

Hello @khannakshat7 @CodesbyUnnati I am a new contributor in this project.
I just want to implement a `Feedback` model for user's and also save the information in the database.
Please assign it to me under gssoc'21

Thank You :)

[2021-04-07 06:50] shonali2600 opened #148 "Navigation bar doesn't redirect to the correct section."
## **Describe the bug**
While clicking on Map, Dashboard, Announcement, and Feedback it redirects us to the login/signup page.

## **Possible solution**

I would like to fix this issue.

[2021-04-07 10:30] rupal121 commented on #139
Added Dark Mode. Kindly review @khannakshat7 @CodesbyUnnati

[2021-04-07 12:47] simranbhalla3 commented on #148
I am a Gssoc participant , please assign me this issue.

[2021-04-07 12:47] simranbhalla3 commented on #139
I am a Gssoc participant , please assign me this issue.

[2021-04-07 12:48] simranbhalla3 commented on #143
I am a Gssoc participant , please assign me this issue.

[2021-04-07 12:48] simranbhalla3 commented on #107
I am a Gssoc participant , please assign me this issue.

[2021-04-07 12:48] simranbhalla3 commented on #108
I am a Gssoc participant , please assign me this issue.

[2021-04-07 15:13] khannakshat7 commented on #148
@shonali2600 That's not a bug. It is done so that first the user has to login then he/she can use the services.

[2021-04-07 15:13] #148 closed

[2021-04-07 15:14] khannakshat7 commented on #145
@anirudhsai20 Please try to make some good contributions to the project.

[2021-04-07 15:14] #145 closed

[2021-04-07 15:14] khannakshat7 commented on #147
@sujoy-coder Ok go ahead.

[2021-04-07 16:42] shonali2600 commented on #148
Okay, I got it. Then we can also add some text so as to inform the user about this, as it's a bit confusing.

[2021-04-07 16:46] shonali2600 opened #150 "Adding informatory text at the top of some sections"
## Proposal

Adding text at the top of Map, Dashboard, Announcements, Feedback section in order to inform users that he/she needs to first login or signup to use its features.

[2021-04-08 12:02] arpit456jain opened #152 "[Gssoc'21] 404 page"
## **Is your feature request related to a problem? Please describe.**

There was no 404 page in templates.
<img width="960" alt="p11" src="https://user-images.githubusercontent.com/55352601/114023329-5ee96a00-9890-11eb-9a97-fb5b9874365a.png">

## **Describe the solution you'd like**
I want to make a 404 page for the website
- A clear and concise description of what you want to happen.

[2021-04-08 12:11] arpit456jain opened #153 "[Gssoc'21] Back to top button"
## **Is your feature request related to a problem? Please describe.**

There is no back to top button in website

## **Describe the solution you'd like**
I would like to add the back to top button on every page

[2021-04-08 14:31] tanya070820 commented on #144
@khannakshat7 Yes Sir I will add different fields in it.

[2021-04-09 11:12] iaryangoyal commented on #153
can I do this?

[2021-04-09 11:13] iaryangoyal commented on #152
Can i do this?

[2021-04-09 18:16] khannakshat7 commented on #152
@arpit456jain Go ahead

[2021-04-10 10:09] #152 closed

[2021-04-11 09:01] arpit456jain opened #156 "[Gssoc21] Show password feature in login/signup"
## **Is your feature request related to a problem? Please describe.**

There should be a show password feature for the user

I can add a checkbox for show password and write js code for it

[2021-04-11 09:03] arpit456jain commented on #153
@CodesbyUnnati can I start working on this??

[2021-04-11 09:54] arpit456jain opened #157 "[Gssoc21] Crucial bug in feedback"
## **Describe the bug**

1.Well when i filled all the information and click on submit it just open the feedback page on a new tab
2 It is not saving my feedback .
Please watch this video for better understanding my issue.

https://user-images.githubusercontent.com/55352601/114299598-d52cdd00-9ad9-11eb-9992-9260d3383cf1.mp4

## **Possible solution**
It should show success or any warning message on

[2021-04-11 18:26] PrabhatP2000 opened #159 "[GSSoC2021] Lots of tweaks to be made on the contact page"
## List of the problems in the current contact
1.The Phone Number input is of type text, so if anyone inputs the character then also it will be going to submit.

![Screenshot from 2021-04-11 23-53-31](https://user-images.githubusercontent.com/53125625/114316443-404dd200-9b21-11eb-96ad-3f43f57820db.png)

2.No any Success message is Popped when the user submits the message.

3.There is a small typo

[2021-04-12 08:18] arpit456jain commented on #157
@khannakshat7 kindly look into this issue its a serious bug

[2021-04-12 08:18] arpit456jain commented on #156
@CodesbyUnnati can i start working on this?

[2021-04-12 16:18] arpit456jain opened #160 "[Gssoc'21] Check if username is already exists in front-end without submitting form"
I would like to give it a try to add this feature in this website.
Benefits  : user can change his/her username at the time of creating account . There will be no duplicate username and email.
And this is checked at front-end no need to submit the form again and again.

[2021-04-12 17:20] arpit456jain commented on #157
@CodesbyUnnati kindly assign me this issue

[2021-04-12 23:21] arpit456jain commented on #160
@CodesbyUnnati @khannakshat7 there is lot of mess in the login/sign up functionality.
<img width="960" alt="e" src="https://user-images.githubusercontent.com/55352601/114474469-f1349980-9c13-11eb-8bb2-86fb3752d5d7.png">

[2021-04-12 23:35] arpit456jain commented on #160
@CodesbyUnnati Actually may some one just exchange the names there is a lot of confusion in backend
its taking email in the name of username
and taking username in the name of email😢
I had spent past 2 hours in finding why my code is not working properly but actual problem is in website code

 I will upload a video on you tube and will share the link here
https://youtu.be/fKHNiV7bccs

[2021-04-12 23:51] arpit456jain commented on #160
If you had watched the video you will surely understand that
According to your current code
Email is going in table username
And
Username is going in table email

[2021-04-13 16:46] barsha119 opened #163 "Add a hover effect on know more button in the home page"
## Proposal

I want to add hover effect on know more button exactly like the login/signup button in the header tab ,  using css.
Please consider this under GSSOC'21.

[2021-04-13 16:50] arpit456jain opened #164 "[Gssoc'21] Bug in contact us form"
## **Describe the bug**
In phone number field if i give any text it is not throwing any error

## **Possible solution**
It should throw a error "Enter a valid mobile number"

[2021-04-14 11:12] PrabhatP2000 commented on #164
Hello arpit, I have already fixed this issue by making the phone type from text to number.
You can close the issue.

[2021-04-14 11:14] arpit456jain commented on #164
But still if i enter any text it will accept it i had tried it yesterday.🤔

[2021-04-14 11:16] PrabhatP2000 commented on #164
Its because my pull request is not merged yet.

[2021-04-14 16:29] khannakshat7 commented on #160
@arpit456jain Yes I understood the problem. U can change it and make the changes in ur PR

[2021-04-15 13:55] Amulya310 commented on #163
Kindly consider assigning this issue to me under GSSOC '21.

[2021-04-16 13:07] arpit456jain opened #165 "[Gssoc'21] Add a confirmation alert before logging out"
## **Is your feature request related to a problem? Please describe.**
some time user clicks on logout by mistake and if dark mode is added it will contain a toggle button and the possibility of clicking logout by mistake will increase /

I would like to make a confirmation alert like this
<img width="361" alt="sweet alert" src="https://user-images.githubusercontent.com/55352601/115028749-da779680-

[2021-04-17 11:00] sreetu opened #166 "To add mandatory field option in login page"
## Proposal

(A clear and concise description of what the proposal is.)
In the login section, if one does not fill the details like email and password and click on submit then, it is redirecting to the next webpage. I want to fix this issue by adding required fields tag in the login.html file.
I am a participant at GSSOC'21, requesting admins to assign me this issue.

[2021-04-18 06:02] CodesbyUnnati commented on #163
Please find some valid issues, Adding hover property to one button is not an issue.

[2021-04-18 06:02] #163 closed

[2021-04-18 12:18] #44 closed

[2021-04-18 14:17] #156 closed

[2021-04-19 02:28] arpit456jain commented on #165
@CodesbyUnnati @khannakshat7 can i start working on this?

[2021-04-19 16:31] Tushar1337 opened #170 "Adding a dark mode to the website"
Hi, I'm trying to add a dark mode to the website, I'm already ready with the code and I have some screenshots below but the only problem I have is I currently have a toggle for it but whenever I refresh it goes to the default light mode is there any way I can keep that javascript function in cookies or cache or something like that so that it stays even when I refresh it? I'm a GSSOC participant ca

[2021-04-20 11:35] arpit456jain commented on #160
@khannakshat7  @CodesbyUnnati
i have solved this issue and uploaded a video for brief description  of problem and solution .
kindly review my PR

[2021-04-21 15:11] #160 closed

[2021-04-21 15:17] khannakshat7 commented on #164
@PrabhatP2000 Yeah it will be merged soon

[2021-04-21 15:17] #164 closed

[2021-04-21 15:18] arpit456jain commented on #165
I am on it

[2021-04-21 15:18] khannakshat7 commented on #157
@arpit456jain Go ahead

[2021-04-21 18:00] RuchiGitHu opened #173 "feedback Page"
## **Is your feature request related to a problem? Please describe.**

- I want to add Feedback page for website.

## **Describe the solution you'd like**

- I have made many designs and web pages for websites. I can do make it, so, please assign this issue to me under gssoc21.
- I will use HTML and CSS to make it happen.

[2021-04-22 17:10] #159 closed

[2021-04-22 19:51] #120 closed

[2021-04-23 05:09] tanishq-arya opened #174 "Critical Bug in dashboard"
## **Describe the bug**

I am not able to scroll in the dashboard page.

## **Possible solution**

the overflow of body is hidden. It should not be there.
## **Screenshots**
![image](https://user-images.githubusercontent.com/77333275/115821250-17caaf80-a420-11eb-99bd-bcee92429e9d.png)

[2021-04-23 05:09] tanishq-arya commented on #174
Please assign me this issue under gssoc

[2021-04-23 05:13] tanishq-arya opened #175 "Remove contact title from the FOOTER"
## **Describe the bug**

For a better UI, the contact title seems a bit odd.

## **Possible solution**
Just remove the section title from the contact section

## **Screenshots**
![image](https://user-images.githubusercontent.com/77333275/115821597-b820d400-a420-11eb-9f42-e40369009a22.png)

[2021-04-23 05:13] tanishq-arya commented on #175
Please assign me this issue under gssoc

[2021-04-23 05:14] #6 closed

[2021-04-23 14:03] RuchiGitHu commented on #173
Please assign this issue to me @khannakshat7

[2021-04-23 18:58] Bhavya-Sehgal opened #177 "Scroll to top button"
I want to add scroll-top arrow to website that will allow the user to directly reach at the top of the page.

[GSSOC'21]

Please assign me this issue @khannakshat7 @CodesbyUnnati

[2021-04-23 19:28] arpit456jain commented on #173
I think there is already a feedback page there @RuchiGitHu

[2021-04-23 19:38] arpit456jain commented on #177
There is already one pr for the same and i had also created a issue for this although its not assigned to me yet you can comment on that issue. If that issue Assign then it will be ok for me..

Lets try together to not create multiple issues for the same.🙂

[2021-04-23 19:40] arpit456jain commented on #170
@Tushar1337 can i work on this issue now if you are done with this.?

[2021-04-24 00:55] RuchiGitHu commented on #173
I thought it's an contact us page because that only page is showing in all navbar buttons.
Looking forward for your reply on it...

[2021-04-24 04:01] arpit456jain commented on #173
you have login first to access feedback page.

you can see the feedback page in this video

https://user-images.githubusercontent.com/55352601/115946580-ce419980-a4df-11eb-91a9-9d86267356a4.mp4

[2021-04-24 12:22] arpit456jain commented on #157
@khannakshat7 kindly review my PR

[2021-04-24 15:01] RuchiGitHu commented on #173
Ok, thanks for your time to clear this things....
Can you please give your important clarification about Map option in navbar.
I am looking forward to add map over there....Can I create another issue for this if this is valid?

[2021-04-24 15:09] arpit456jain commented on #173
I don't think its an good idea because there is already a map on map page 😅

[2021-04-24 15:42] RuchiGitHu commented on #173
Sorry to interrupt you but from README page when I load a live website it showing feedback page in map option of navbar.
![image](https://user-images.githubusercontent.com/71754179/115964317-7a679c80-a541-11eb-834b-528e6a464794.png)

[2021-04-24 16:27] arpit456jain commented on #173
As i told you earlier you have to login first for accessing any page.

Try to register , then login and then you can see all of them

[2021-04-24 16:39] RuchiGitHu commented on #173
Oh, thanks for your support and guidance, looking forward to contribute in this project.
Thanks again....

[2021-04-24 16:39] #173 closed

[2021-04-25 16:15] arpit456jain commented on #170
@khannakshat7 please assign me this issue

[2021-04-29 12:11] arpit456jain commented on #165
@khannakshat7 kindly review my PR and add these labels to it.

and please review My PR for feedback

[2021-04-30 06:50] #174 closed

[2021-04-30 07:15] #165 closed

[2021-04-30 13:05] arpit456jain commented on #170
@khannakshat7 kindly assign me this issue

[2021-05-02 12:59] arpit456jain opened #182 "Video For Project Set Up Step by Step"
**Just a Suggestion**

I would like to add a link to a video for Step by step process of setting up this project in local system from forking the repo to running it on server , making the database , migrating tables etc etc.

Although the documentations is quite good but it will be better if there is a link to a video so anyone can follow it very easily

**Just a Suggestion**

[2021-05-04 14:10] KajalSinghBAGHEL opened #184 "Update README.md"
remove grammatical mistakes

[2021-05-04 14:11] KajalSinghBAGHEL commented on #184
I am a GSSOC participant. Can I work on this issue?

[2021-05-04 17:06] Furquan712 commented on #138
I would like to work on this issue, will you assign me ?

[2021-05-05 10:35] #157 closed

[2021-05-06 14:59] #177 closed

[2021-05-06 20:09] Furquan712 commented on #138
@CodesbyUnnati any update?\

[2021-05-07 16:24] CodesbyUnnati commented on #175
Do you want to remove the "Contact" title from the footer?

[2021-05-07 16:38] tanishq-arya commented on #175
Yes. And if you want me to do any changes to the footer I can implement that too.

[2021-05-07 16:54] CodesbyUnnati commented on #138
You can work on this, then we will compare both issues.

[2021-05-07 17:10] KajalSinghBAGHEL commented on #184
Please check my pull request

[2021-05-07 17:10] tanishq-arya commented on #175
What if we add  a card effect to the footer like the header then it will look better.

[2021-05-08 06:05] CodesbyUnnati commented on #175
A simple footer looks good, I think we don't need to change it.

[2021-05-08 06:08] CodesbyUnnati commented on #184
I have requested changes.

[2021-05-08 09:22] arpit456jain commented on #170
@CodesbyUnnati can you please assign me this issue

[2021-05-08 13:08] Furquan712 commented on #138
@CodesbyUnnati  thank you ... I am working on it

[2021-05-08 13:46] coding-geek21 commented on #115
@CodesbyUnnati I would like to work on this issue , please assign me

[2021-05-08 14:16] coding-geek21 opened #185 "Login using google and facebook"
## **Is your feature request related to a problem? Please describe.**

-It would be good if we have sign up and login using facebook and google

## **Describe the solution you'd like**

- I would like to work on this , I'm a GSSOC'21 participant, please assign me

[2021-05-08 14:20] #185 closed

[2021-05-09 06:25] tanishq-arya commented on #175
Okay

[2021-05-09 06:25] #175 closed

[2021-05-09 11:00] arpit456jain commented on #115
@khannakshat7 I have added the feature of reset password I am uploading a video for showing it.

But currently I have not handle the exceptions and error success msg sice it will take some time to test this feature and its very difficult for me to test it alone .
so i was thinking to make a PR for this and create another issue for flashing msg and one issue for exception handling

@khannakshat7 pl

[2021-05-09 11:03] arpit456jain commented on #115
https://user-images.githubusercontent.com/55352601/117569643-41542e00-b0e4-11eb-8b2d-984f7379138a.mp4

[2021-05-09 11:12] arpit456jain commented on #115
Although first email is checked if not exist it will not go further and if exist it will further and ask for otp if opt not match it will not go further if match it will go further i hope you are understanding

[2021-05-09 11:15] arpit456jain commented on #115
Just 2 things are needed to be add
1 . Some error success message flashing
2. Handling some exceptions
I would like to make a PR for this issue and then i would like to create these 2 issue and solve one by one

The password reset features is working fine it will send otp to email and it will generate random 6 digit number every time

[2021-05-09 18:17] PranavChauhan22 opened #187 "Improving the home page"
I want to add cool animations and transitions in home page so that site must also have some dynamic content along with static content plus it will also give user a better experience about the webpage

[2021-05-09 18:18] PranavChauhan22 commented on #187
Admins should i proceed for it

[2021-05-11 06:36] arpit456jain commented on #115
@khannakshat7 may I create a PR for this issue ? Requesting to go through the above comments once

[2021-05-11 11:20] subhangi2731 opened #188 "Linting the code and make the code prettier"
I want to set up Eslint in the project and make the code prettier. Please assign this issue to me @khannakshat7

[2021-05-12 14:43] khannakshat7 commented on #188
@subhangi2731 Go ahead

[2021-05-12 14:44] khannakshat7 commented on #187
@PranavChauhan22 Great !! I want to see some cool animations

[2021-05-12 14:45] khannakshat7 commented on #153
@arpit456jain Go for it

[2021-05-12 14:49] #106 closed

[2021-05-12 18:11] chazuttu commented on #139
I am GSSOC'21 Participant. Please assign this issue to me and review my PR for this issue. Thank you

[2021-05-13 12:41] arpit456jain commented on #115
@khannakshat7 please review my PR and before that please go through the above comments

[2021-05-16 02:27] Furquan712 commented on #138
@CodesbyUnnati  update??

[2021-05-16 07:05] CodesbyUnnati commented on #138
![image](https://user-images.githubusercontent.com/54355445/118388602-26813c80-b643-11eb-9c0f-09dbe8e74da9.png)
It's visible on the main page.

[2021-05-16 23:13] subhangi2731 commented on #188
@khannakshat7 please add the level tag

[2021-05-17 00:00] subhangi2731 commented on #26
@khannakshat7 please assign me this

[2021-05-17 19:21] #115 closed

[2021-05-17 19:22] #153 closed

[2021-05-17 19:23] arpit456jain opened #193 "Add error/success flash message on reset password and some passwords validations"
Add error/success flash message on reset password and some passwords validations

[2021-05-18 10:53] dhruv-rajput opened #195 "Sign up error"
## **Describe the bug**

Hello contributors I was trying to signup on the site and got a error message of "Sever error (500)"  instead. Can you please check that out.

## **Screenshots**
![101](https://user-images.githubusercontent.com/55194861/118638847-e2359e00-b7f4-11eb-88da-b65b6a67fdc8.PNG)

[2021-05-19 11:20] #193 closed

[2021-05-19 11:32] #170 closed

[2021-05-19 11:33] arpit456jain opened #197 "Dark mode in dashboard and enhancements in dark mode"
I will add Dark mode in dashboard and will make requested changes in dark mode

[2021-05-19 11:35] khannakshat7 commented on #188
@subhangi2731 Any updates on it?

[2021-05-19 11:38] arpit456jain opened #198 "Bug and enhancements in reset password feature"
Bug and enhancements in reset password features
Add all password validations as we have in sign up form
When the user moves to url '/reset-password' pl. check if he has passed the OTP verification or not. (I just added an email in forget email and went to localhost/reset-password without entering OTP then changed the password and it was changed).
Some typos in the error messages.

[2021-05-19 15:58] subhangi2731 commented on #188
@khannakshat7 yes I am working on it I will create a pr by tomorrow

[2021-05-19 15:59] subhangi2731 commented on #139
can u please assign this issue to me @khannakshat7

[2021-05-19 16:01] subhangi2731 commented on #26
@khannakshat7 please assign me

[2021-05-19 16:02] arpit456jain commented on #139
Its already added @khannakshat7
You can close this issue

[2021-05-19 16:07] chazuttu commented on #139
I have already created the pull request. Assign her some other issue.
Thank you!!

[2021-05-19 16:09] subhangi2731 commented on #139
oh sorry @chazuttu I didn't see it sure agreed with @arpit456jain please close this issue then

[2021-05-19 16:28] siddharth-143 commented on #96
Would you like to assign me for this project?
Front-end login and signup page.
Even I have already had designed page just waiting for your permission :)

[2021-05-19 19:02] #139 closed

[2021-05-19 19:04] khannakshat7 commented on #96
@siddharth-143 Can u suggest me a better design first or some demo

[2021-05-19 19:14] #198 closed

[2021-05-19 19:18] #197 closed

[2021-05-20 00:21] arpit456jain opened #201 "Show password on reset password page"
Show password on reset password page

[2021-05-20 02:05] arpit456jain opened #203 "Feedback model is not registered in admin.py"
Feedback model is  not registered in admin.py it means feedback is not visible in admin panel

[2021-05-20 17:18] arpit456jain commented on #166
@khannakshat7  if its open then please assign me

[2021-05-20 17:19] arpit456jain commented on #147
@khannakshat7  its already done please close this

[2021-05-20 17:43] arpit456jain opened #205 "Feature to download feedback data as csv file"
currently there is no admin dashboard i guess so i can't add a button but i can write the backend for it .

you just have to go to
/downloadFeedback

and this will download a csv file for you having data of feedback

[2021-05-21 06:37] PranavChauhan22 commented on #187
I have improved the scroll speed and also added scroll animation in cards.

[2021-05-21 10:15] #203 closed

[2021-05-21 10:16] #201 closed

[2021-05-21 17:53] #100 closed

[2021-05-21 19:14] khannakshat7 commented on #205
@arpit456jain There is no need for this as django admin has a module to download DB data in CSV file

[2021-05-21 19:16] khannakshat7 commented on #195
@dhruv-rajput Thanks for letting us know. It is a deployment error and will be solved soon

[2021-05-21 19:16] #195 closed

[2021-05-21 19:21] khannakshat7 commented on #205
If you want to can implement that django admin module

[2021-05-21 19:23] arpit456jain commented on #205
Well i don't know about that but i will try it

[2021-05-21 20:18] arpit456jain commented on #150
@khannakshat7 please assign me this

[2021-05-21 20:53] arpit456jain opened #206 "Email warning if login fails more than 5 times"
Let say some one is trying to login in my account and he fails 5 times . So i should get an warning
email that someone is trying to login in your account .

[2021-05-21 20:54] arpit456jain commented on #206
@khannakshat7 please assign me this.
I think its a really good issue for security purpose

[2021-05-22 08:56] kumarishalini6 opened #207 "Adding contact logo at the home page"
## Proposal
I want to add logo of contact us in home page as side logo and add hover over it like:-

![InkedJagrati _ Home - Personal - Microsoft​ Edge 5_22_2021 02_21_33 PM_LI](https://user-images.githubusercontent.com/69043944/119220739-6f4c5180-ba98-11eb-9cf2-713a99106a16.jpg)

[2021-05-22 08:56] kumarishalini6 commented on #207
I want to work on this issue under GSSoC'21.

[2021-05-22 09:06] kumarishalini6 opened #208 "Hover effect on navbar"
## **Is your feature request related to a problem? Please describe.**
I want to give some hover effect on navbar like:-
when someone hover on the navbar items a line appear at the bottom of the items  .
Can i work on this issue under GSSoC'21.

[2021-05-22 11:54] arpit456jain opened #209 "Bug in navbar"
In dashboard its showing my username before logout and in other pages it shows my first name before logout

[2021-05-22 11:55] arpit456jain commented on #209
@khannakshat7 please assign me this if it's really a bug or please let me know the reason if its done internationally

[2021-05-22 12:09] arpit456jain commented on #50
@khannakshat7 please assign me this

[2021-05-22 15:40] #50 closed

[2021-05-22 15:40] #209 closed

[2021-05-22 15:45] arpit456jain commented on #206
@khannakshat7 can i make a PR for this?

[2021-05-22 15:49] khannakshat7 commented on #206
@arpit456jain How are you planning to develop it? Please come up with a optimistic solution and discuss

[2021-05-22 15:49] khannakshat7 commented on #207
@kumarishalini6 Go ahead

[2021-05-22 15:50] khannakshat7 commented on #208
@kumarishalini6 Can u try to come up with some other enhancements so that you can contribute in a better way.

[2021-05-22 15:54] kumarishalini6 commented on #208
Ok

[2021-05-22 15:55] arpit456jain commented on #206
I had already done this.
I make a dictionary in python and i am checking every time when someone trying to login if it success then no problem.
But if it fails i do dict[user] = 1 if it's not present in dictionary and if its present i will do dict[user] += 1.
And if this Value increase than 5 i will send email and if user login before it reaches to 5 i will set value to 0

[2021-05-22 16:01] arpit456jain commented on #206
@khannakshat7 if you want more optimization then i can remove that key from dictionary when user login successfully before reaching 5

[2021-05-22 17:06] kumarishalini6 commented on #207
can you please add labels.

[2021-05-22 17:06] kumarishalini6 commented on #208
can you please add labels.

[2021-05-23 02:46] kumarishalini6 commented on #207
please review my PR

[2021-05-23 05:21] kumarishalini6 commented on #207
I have send PR please  have a look

[2021-05-23 05:31] kumarishalini6 opened #215 "Improving all the buttons available in the projects"
## Proposal
I want to improve buttons
![InkedElektra _ Electricity Outage prediction - Personal - Microsoft​ Edge 5_23_2021 10_55_55 AM_LI](https://user-images.githubusercontent.com/69043944/119249430-fc4ce480-bb44-11eb-94ff-8bdd58e11c72.jpg)
![InkedElektra _ Electricity Outage prediction - Personal - Microsoft​ Edge 5_23_2021 10_56_54 AM_LI](https://user-images.githubusercontent.com/69043944/1192

[2021-05-23 05:32] kumarishalini6 commented on #215
Can i work on this issue under GSSoC'21

[2021-05-23 06:51] arpit456jain commented on #46
@khannakshat7 please assign me this issue

[2021-05-23 18:35] khannakshat7 commented on #215
@kumarishalini6 Go ahead and come up with a cool button

[2021-05-24 05:09] tanishq-arya commented on #184
@CodesbyUnnati Can I work on this ? There has been no updates from 17 days. I would like to add the commands in code blocks.

[2021-05-24 06:05] tanishq-arya commented on #184
Like this.
![image](https://user-images.githubusercontent.com/77333275/119303924-1e994c00-bc84-11eb-9874-4e2a375a39d0.png)

[2021-05-24 07:17] mansijain980 commented on #46
@arpit456jain we can work on it together . Can u tell me ur discord so that we can discuss on it.
@khannakshat7 Please add a label on this issue.
Thanks.

[2021-05-24 11:51] subhangi2731 commented on #27
@khannakshat7 please assign me this issue I want to work

[2021-05-24 11:53] subhangi2731 commented on #36
@CodesbyUnnati @khannakshat7 there hasnt been any pr made please assign me this issue

[2021-05-24 11:56] khannakshat7 commented on #36
#103

[2021-05-24 11:58] khannakshat7 commented on #36
#121

[2021-05-24 11:59] #36 closed

[2021-05-24 12:01] khannakshat7 commented on #27
#194

[2021-05-24 12:01] #27 closed

[2021-05-24 12:08] subhangi2731 commented on #30
@khannakshat7 please assign me this

[2021-05-24 15:46] subhangi2731 opened #219 "add documentation for setting up eslint and making the code prettier"
I will write all the steps as how the eslint is setup and how the code is made prettier and which files are modified and enhanced

[2021-05-24 15:47] subhangi2731 commented on #219
@khannakshat7 please assign me this issue

[2021-05-25 08:39] #206 closed

[2021-05-25 11:35] arpit456jain commented on #150
@khannakshat7 allow me to make a PR for this

[2021-05-25 16:14] arpit456jain opened #220 "Bug in Email warning feature"
## **Describe the bug**

there is a small Bug in Email warning feature i just notice and i already solved it and will make a PR

Actually the bug is when user trying to login first time with correct credentials  he/she will get an error
<img width="960" alt="sl" src="https://user-images.githubusercontent.com/55352601/119531818-ee47cf80-bda1-11eb-9c9e-70252febe6a6.png">

and its because of
<img wid

[2021-05-25 16:19] arpit456jain commented on #220
@khannakshat7 please review this PR . i had solved this bug.
and i am sorry my feature creates this bug

[2021-05-25 16:32] #220 closed

[2021-05-25 16:32] khannakshat7 commented on #219
@subhangi2731 Any update?

[2021-05-25 16:38] subhangi2731 commented on #219
@khannakshat7 i am working on this will make a pr by tomorrow

[2021-05-26 08:17] arpit456jain commented on #205
@khannakshat7 i had implemented it successfully .
have a look

https://user-images.githubusercontent.com/55352601/119626408-cea7ba00-be28-11eb-92d0-382355b4d2da.mp4

can I make a PR for this.?

[2021-05-26 08:24] arpit456jain commented on #205
I used the module
import_export == 2.5.0

[2021-05-26 13:16] arpit456jain opened #222 "change password feature"
change password feature  like when user got to know some one else is tryin to login in his/her account user wants to change his/her password
so i would like to add  that feature in this issue

in nxt issue i will add error / success msg and will handle if any exception occurs

[2021-05-26 13:16] arpit456jain commented on #222
@khannakshat7 please assign me this issue

[2021-05-26 15:27] khannakshat7 commented on #205
Go ahead and make pr

[2021-05-27 18:32] #205 closed

[2021-05-27 18:38] #150 closed

[2021-05-27 18:50] #222 closed

[2021-05-27 18:51] #215 closed

[2021-05-27 18:51] #219 closed

[2021-05-27 18:51] #208 closed

[2021-05-27 18:51] #207 closed

[2021-05-27 18:52] #188 closed

[2021-05-27 19:04] kumarishalini6 opened #227 "Improving the form card"
The form card are so simple i want to give some border radius , shadow. And the background is not looks good.
![Elektra _ Electricity Outage prediction and 1 more page - Personal - Microsoft​ Edge 5_28_2021 12_33_09 AM](https://user-images.githubusercontent.com/69043944/119882789-433b3100-bedb-11eb-9ccf-127a1b8be55a.png)

[2021-05-27 19:05] kumarishalini6 commented on #227
@khannakshat7 Can i work on this issue

[2021-05-28 05:18] arpit456jain opened #228 "Password Validations in change password and current password field"
Password Validations in change password and current password field

[2021-05-28 14:30] JAgrit20 commented on #227
@kumarishalini6, you shall start working on this

[2021-05-29 09:21] #228 closed

[2021-05-29 09:23] #182 closed

[2021-05-29 10:06] arpit456jain opened #233 "show password feature in change password page"
show password feature in change password page

[2021-05-29 15:00] #233 closed

[2021-05-29 15:01] #166 closed

[2021-05-30 10:09] arpit456jain opened #237 "download csv feature for contact and electricity table"
download csv feature for contact and electricity table

[2021-05-30 11:02] Sukriti-sood opened #239 "Github Bot Feature"
Github Bot Will COmment on Every PR Open and PR merged

[2021-05-31 03:48] kumarishalini6 commented on #227
@khannakshat7 please review my PR

[2021-05-31 03:55] arpit456jain opened #240 "when Password changes user should get an email about it"
when Password changes user should get an email about it

[2021-05-31 10:17] #240 closed

[2021-05-31 10:18] #227 closed

[2021-05-31 11:20] khannakshat7 commented on #237
@arpit456jain It is merged

[2021-05-31 11:20] #237 closed

[2021-05-31 11:26] #239 closed

[2021-06-19 09:59] #147 closed

[2021-06-24 00:34] #37 closed